.videoPedacinho{
    width: 70vw;
    
}

.centralizar{
    display: flex;
    justify-content: center;
}

#centralizarvd{
    display: flex;
    justify-content: center;
   
}

#videoPitty{
    width: 70vw;
}

